body {
    background: -webkit-linear-gradient(45deg, rgb(183, 207, 154), rgb(82, 182, 178));
    background: -moz-linear-gradient(45deg, rgb(183, 207, 154), rgb(82, 182, 178));
    background: linear-gradient(45deg, rgb(183, 207, 154), rgb(82, 182, 178));

    height: 100vh;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.d-flex {
    justify-content: space-between;

    background: -webkit-linear-gradient(45deg, rgb(192, 214, 69), rgb(14, 214, 179));
    background: -moz-linear-gradient(45deg, rgb(192, 214, 69), rgb(14, 214, 179));
    background: linear-gradient(45deg, rgb(192, 214, 69), rgb(14, 214, 179));
}

.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside nav {
    padding-right: 10px;
}

.alert   {
    display: flex;
    justify-content: space-between;

    padding: 7px;
}

.img-thumbnail {
    width: 60px;
    height: 60px;
}