<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>

    <link rel="stylesheet"
          href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="d-flex align-items-center p-3 px-md-4 mb-3
    bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto
      font-weight-normal">Show weather</h5>
        <div class="rightside">
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Enterprise</a>
            <a class="p-2 text-dark" href="#">Support</a>
          </nav>
        </div>
    </div>

    <div class="container">
        <h3>Weather</h3>
        <div class="row">
            <div class="col-5  m-lg-0 offset-1">
                <form action="">
                    <label for="city">Город</label>
                    <input class="form-control" type="text"
                           id="city"
                            name="city"
                           placeholder="Введите город">
                    <input class="mt-2 btn btn-success"
                           type="submit"
                           name="send"
                           value="Узнать" >
                </form>
            </div>

            <div class="col-5 offset-1">
                <h3>Information</h3>
                <div class="alert alert-dark">
                    Город: {{ info.city }}<br>
                    Температура: {{ info.temp }}<br>
                    Ветер: {{ info.wind }}
                    <img class="img-thumbnail"
                         src="http://openweathermap.org/img/w/{{ info.icon }}.png"
                         alt="Погода">
                </div>
            </div>
        </div>
    </div>
</body>
</html>